.container-m2
{
    display:flex;
    max-width:  1118px;
    margin: 20px auto;
    column-gap: 25px;
}

.main-2-image-1  {
    background: linear-gradient(185.55deg, rgba(141, 23, 15, 0.49) 3.08%, #640685 80.27%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.main-2-image-2
{
    background: linear-gradient(201.27deg, rgba(87, 15, 141, 0.69) 2.14%, rgba(98, 14, 138, 0.713396) 33.33%, #E80069 82.13%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-2-image-3
{
    background: linear-gradient(185.55deg, #7453E3 3.08%, #18204D 92.41%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-2-image-4
{
    background: linear-gradient(185.55deg, rgba(87, 15, 141, 0.69) 3.08%, #F35BA0 92.41%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}