
.body
{   
    height: 840px;
    background: linear-gradient(291.24deg, #2A0181 45.58%, rgba(61, 2, 187, 0.69) 100%);
    
}





.body-title {
    font-size: 70px;
    font-weight:bold;
    line-height: 85px;
    background: linear-gradient(113.37deg, #F49867 -1.83%, #B0A6BA 62.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}





.body-ss-title p

{
    font-size: 17px;
    line-height:20px;
    font-style: normal;
    font-weight:normal;
    margin: 15px 0;
}



.body-containt 
{   
    display: flex;
    align-items: center;
    position: absolute;
    top: 120px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    max-width: 1280px;
}

.flex
{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    
}

.btn-submit
{
    width: 220px;
    height: 60px;
    background: linear-gradient(180deg, #D9DFFF 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 3px 0px rgb(0 0 0 / 10%), 0px 1px 0px rgb(23 0 102 / 10%), 0px 1px 0px rgb(255 255 255 / 40%);
    border-radius: 20px;
    display: flex;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    
}


.svg
{
    width: 50px;
}

.submit
{
   background: transparent;
    border:0;
    line-height: 20px;
    font-weight: 400;
    padding:0;  
    
}


.btn-submit p
{
    text-align: initial;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    font-weight:normal;
}

.body-t p
{
    margin: 40px 0 ;
}

.image img {
    
    width: 720px;
    
    
}
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    top: 750px;
  }
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }



@media only screen and (max-width: 1024px) 
{
    .body-containt
    {
        right: 75px;
        left: 100px;
    }
    .image img {
        width: 480px;  
    }
    .waves {
        position:relative;
        width: 100%;
        height:15vh;
        margin-bottom:-7px; /*Fix for safari gap*/
        min-height:100px;
        max-height:150px;
        top: 590px;
      }
   

   
    .body
    {
        height: 645px;
        
        
    }
    
    .body-title {
        font-size: 50px;
        font-weight:bold;
        line-height: 55px;
        background: linear-gradient(113.37deg, #F49867 -1.83%, #B0A6BA 62.21%);

        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0;
    }

    .btn-submit
    {
        width: 220px;
        height: 60px;
    }

    .svg {
        width: 50px;
    }
    

}

@media only screen and (max-width:768px)
{

}








